extends layout

block content
  h1.display-3=article.title
  hr
  h3.display-5=article.body
  p.lead -#{author}
  hr
  if user
    if user.id==article.author  
      a.btn.btn-success(href='/articles/edit/'+article._id) Edit
      br
      br  
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete 
  
