extends layout

block content
  h1.display-3 #{heading1}
  ul.list-group
    each article, i in articles
      if(article.title)
        li.list-group-item
          a(href='/articles/'+article._id)= article.title  
